<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}">
    <title>DojoSurvey</title>
</head>
<body>
    <div class="container">
    <form action="/process" method="POST">
    
    Your Name: <input type="text", name="yourname">
    Dojo Location: <select name=location>
        <option value="seattle">Seattle</option>
        <option value="san Francisco">San Francisco</option>
        <option value="chicago">Chicago</option>
        <option value="san Diego">San Diego</option>
        </select>
    Favorite Language: <select name=language>
        <option value="python">Python</option>
        <option value="java">Java</option>
        <option value="javascript">JavaScript</option>
        <option value="csharp">C#</option>
        </select>
    Comment (optional): <textarea name="comment" rows="5" cols="30"></textarea> 
    <input type="submit", name="submit">
    </form>
    </div>
</body>
</html>